{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}

{% block body %}
<div class="container my-4">
<h2> Contact v/Code Admin </h2>
<form method = "post" action="/contact" >
{% csrf_token %}
    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
      </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="phone" class="form-control" name="phone" id="phone" >
    </div>
    <div class="form-group">
      <label for="content">Describe your issues :</label>
      <textarea class="form-control" name="content" id="content" cols="30" rows="5" style="resize:none";></textarea>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}


